In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from keras.models import Sequential
from keras.layers import Conv2D,MaxPooling2D,Dropout,Flatten,Dense,Activation,BatchNormalization
import os
from sklearn.model_selection import train_test_split
import random
import pathlib
from keras.preprocessing.image import ImageDataGenerator

In [2]:
Image_Width = 256
Image_Height = 256
Image_Size = (Image_Width,Image_Height)
Image_Channels = 3

In [3]:
filenames=os.listdir("./../../train")
categories=[]
for f_name in filenames:
    category=f_name.split('.')[0]
    if category=='dog':
        categories.append(1)
    else:
        categories.append(0)
df=pd.DataFrame({
    'filename':filenames,
    'category':categories
})

In [4]:
df

           filename  category
0         cat.0.jpg         0
1         cat.1.jpg         0
2        cat.10.jpg         0
3       cat.100.jpg         0
4      cat.1000.jpg         0
...             ...       ...
24995  dog.9995.jpg         1
24996  dog.9996.jpg         1
24997  dog.9997.jpg         1
24998  dog.9998.jpg         1
24999  dog.9999.jpg         1

[25000 rows x 2 columns]

In [5]:
model=Sequential()

model.add(Conv2D(32,(3,3), activation='relu', input_shape=(Image_Width,Image_Height,Image_Channels)))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Dropout(0.25))

model.add(Conv2D(64,(3,3), activation = 'relu'))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Dropout(0.25))

model.add(Conv2D(128,(3,3), activation = 'relu'))
model.add(BatchNormalization())
model.add(Dropout(0.25))

model.add(Flatten())
model.add(Dense(512, activation = 'relu'))
model.add(BatchNormalization())
model.add(Dropout(0.5))
model.add(Dense(2, activation = 'sigmoid'))

model.compile(loss='categorical_crossentropy', optimizer ='adam', metrics=['accuracy'])

In [6]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d (Conv2D)             (None, 254, 254, 32)      896

 batch_normalization (BatchN  (None, 254, 254, 32)     128
 ormalization)

 max_pooling2d (MaxPooling2D  (None, 127, 127, 32)     0
 )

 dropout (Dropout)           (None, 127, 127, 32)      0

 conv2d_1 (Conv2D)           (None, 125, 125, 64)      18496

 batch_normalization_1 (Batc  (None, 125, 125, 64)     256
 hNormalization)

 max_pooling2d_1 (MaxPooling  (None, 62, 62, 64)       0
 2D)

 dropout_1 (Dropout)         (None, 62, 62, 64)        0

 conv2d_2 (Conv2D)           (None, 60, 60, 128)       73856

 batch_normalization_2 (Batc  (None, 60, 60, 128)      512
 hNormalization)

 dropout_2 (Dropout)         (None, 60, 60, 128)       0

 flatten (Flatten)           (None, 460800)            0

 dense (Dense)               (None, 512)               235930112

 batch_normalization_3 (Batc  (None, 512)              2048
 hNormalization)

 dropout_3 (Dropout)         (None, 512)               0

 dense_1 (Dense)             (None, 2)                 1026

=================================================================
Total params: 236,027,330
Trainable params: 236,025,858
Non-trainable params: 1,472
_________________________________________________________________

In [7]:
from keras.callbacks import EarlyStopping, ReduceLROnPlateau
earlystop = EarlyStopping(patience = 10)
learning_rate_reduction = ReduceLROnPlateau(monitor = 'val_acc',patience = 2,verbose = 1,factor = 0.5,min_lr = 0.00001)
callbacks = [earlystop,learning_rate_reduction]

In [8]:
# managing the categories
df["category"] = df["category"].replace({0:'cat',1:"dog"})

In [9]:
df

           filename category
0         cat.0.jpg      cat
1         cat.1.jpg      cat
2        cat.10.jpg      cat
3       cat.100.jpg      cat
4      cat.1000.jpg      cat
...             ...      ...
24995  dog.9995.jpg      dog
24996  dog.9996.jpg      dog
24997  dog.9997.jpg      dog
24998  dog.9998.jpg      dog
24999  dog.9999.jpg      dog

[25000 rows x 2 columns]

In [10]:
train_df,validate_df = train_test_split(df,test_size=0.20,random_state=42)#here we divided dataset into two random dataset(train and validate)

train_df = train_df.reset_index(drop=True)
validate_df = validate_df.reset_index(drop=True)

total_train=train_df.shape[0]
total_validate=validate_df.shape[0]
batch_size=64

In [11]:
train_df

            filename category
0       dog.8479.jpg      dog
1        dog.876.jpg      dog
2      cat.10915.jpg      cat
3      dog.10127.jpg      dog
4      cat.11377.jpg      cat
...              ...      ...
19995   dog.6916.jpg      dog
19996     cat.36.jpg      cat
19997  cat.10771.jpg      cat
19998   dog.1713.jpg      dog
19999   dog.8788.jpg      dog

[20000 rows x 2 columns]

In [12]:
validate_df

           filename category
0       cat.493.jpg      cat
1      dog.9112.jpg      dog
2       cat.745.jpg      cat
3     dog.11022.jpg      dog
4     dog.11363.jpg      dog
...             ...      ...
4995   cat.6551.jpg      cat
4996   cat.9403.jpg      cat
4997    cat.236.jpg      cat
4998   dog.6530.jpg      dog
4999  cat.10622.jpg      cat

[5000 rows x 2 columns]

In [13]:
train_datagen = ImageDataGenerator(rotation_range=15,
                                  rescale=1./255,
                                  zoom_range=0.1,
                                  horizontal_flip=True,
                                  width_shift_range=0.1,
                                  height_shift_range=0.1)
train_generator = train_datagen.flow_from_dataframe(train_df,"./../../train",
                                                    x_col='filename',y_col='category',
                                                    terget_size=Image_Size,
                                                    class_mode='categorical',
                                                    batch_size = batch_size
                                                   )

Found 20000 validated image filenames belonging to 2 classes.

In [14]:
validation_datagen = ImageDataGenerator(rescale=1./255)

validation_generator = validation_datagen.flow_from_dataframe(
    validate_df,
    "./../../train",
    x_col='filename',
    y_col='category',
    target_size=Image_Size,
    class_mode='categorical',
    batch_size=batch_size
)

Found 5000 validated image filenames belonging to 2 classes.

In [15]:
test_datagen = ImageDataGenerator(rotation_range=15,
                                 rescale=1./255,
                                 shear_range=0.1,
                                 zoom_range=0.2,
                                 horizontal_flip=True,
                                 width_shift_range=0.1,
                                 height_shift_range=0.1)

test_generator = train_datagen.flow_from_dataframe(train_df,"./../../train",
                                                  x_col='filename',
                                                  y_col='category',
                                                  target_size=Image_Size,
                                                  class_mode='categorical',
                                                  batch_size=batch_size)

Found 20000 validated image filenames belonging to 2 classes.

In [ ]:
epochs=10
history = model.fit(
    train_generator, 
    epochs=epochs,
    validation_data=validation_generator,
    validation_steps=total_validate//batch_size,
    steps_per_epoch=total_train//batch_size,
    callbacks=callbacks
)

Epoch 1/10
 18/312 [>.............................] - ETA: 22:31 - loss: 1.6903 - accuracy: 0.5677